# 日本に上陸した台風を見える化してみた

## 台風情報の読込

In [1]:
import pandas as pd

years = list(range(2001, 2019)) # [2001, 2002, ..., 2018]

typhoon_tbls = [pd.read_csv('data_typhoon/table{}.csv'.format(year), encoding=('cp932')) for year in years]

df_typhoon = pd.concat(typhoon_tbls)

df_typhoon = df_typhoon.reset_index() # indexを振り直して、ユニークにする。　これ大事！

display(df_typhoon.describe())
display(df_typhoon.tail())
display(df_typhoon.dtypes)

,index,年,月,日,時（UTC）,台風番号,階級,緯度,経度,中心気圧,最大風速,50KT長径方向,50KT長径,50KT短径,30KT長径方向,30KT長径,30KT短径,上陸
count,16331.000000,16331.000000,16331.000000,16331.000000,16331.000000,16331.000000,16331.000000,16331.000000,16331.000000,16331.000000,16331.000000,16331.000000,16331.000000,16331.000000,16331.000000,16331.000000,16331.000000,16331.000000
mean,474.197783,2009.509583,8.125161,15.760823,9.234462,963.974098,3.842202,23.366034,135.790325,981.365991,39.777417,2.743800,29.699651,25.679995,3.300471,136.014329,101.758006,0.009920
std,296.209524,5.379950,2.067895,8.774342,6.772442,538.795724,1.369074,10.600620,16.524512,23.434028,33.405244,3.950041,43.439960,37.241062,3.537002,122.549207,94.998559,0.099106
min,0.000000,2001.000000,1.000000,1.000000,0.000000,101.000000,2.000000,1.400000,99.500000,885.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,226.000000,2004.000000,7.000000,8.000000,3.000000,428.000000,3.000000,15.700000,124.250000,970.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,454.000000,2009.000000,8.000000,16.000000,9.000000,921.000000,4.000000,21.600000,133.700000,990.000000,40.000000,0.000000,0.000000,0.000000,2.000000,140.000000,100.000000,0.000000
75%,694.000000,2014.000000,9.000000,23.000000,15.500000,1421.000000,5.000000,29.150000,146.100000,1000.000000,65.000000,9.000000,60.000000,50.000000,8.000000,230.000000,160.000000,0.000000
max,1359.000000,2018.000000,12.000000,31.000000,23.000000,1829.000000,7.000000,62.100000,187.400000,1016.000000,125.000000,9.000000,240.000000,180.000000,9.000000,650.000000,450.000000,1.000000

,index,年,月,日,時（UTC）,台風番号,台風名,階級,緯度,経度,中心気圧,最大風速,50KT長径方向,50KT長径,50KT短径,30KT長径方向,30KT長径,30KT短径,上陸
16326,1126,2018,11,25,18,1829,USAGI,3,11.3,106.6,1004,35,0,0,0,9,90,90,0
16327,1127,2018,11,26,0,1829,USAGI,2,11.4,105.9,1008,0,0,0,0,0,0,0,0
16328,1128,2018,11,26,6,1829,USAGI,2,11.5,105.4,1008,0,0,0,0,0,0,0,0
16329,1129,2018,11,26,12,1829,USAGI,2,11.7,104.9,1010,0,0,0,0,0,0,0,0
16330,1130,2018,11,26,18,1829,USAGI,2,12.0,104.0,1010,0,0,0,0,0,0,0,0

index         int64
年             int64
月             int64
日             int64
時（UTC）        int64
台風番号          int64
台風名          object
階級            int64
緯度          float64
経度          float64
中心気圧          int64
最大風速          int64
50KT長径方向      int64
50KT長径        int64
50KT短径        int64
30KT長径方向      int64
30KT長径        int64
30KT短径        int64
上陸            int64
dtype: object

# 日本に上陸した台風の抽出

In [2]:
df_landing = df_typhoon[df_typhoon['上陸'] == 1]

display(df_landing.describe())
display(df_landing.head(10))

,index,年,月,日,時（UTC）,台風番号,階級,緯度,経度,中心気圧,最大風速,50KT長径方向,50KT長径,50KT短径,30KT長径方向,30KT長径,30KT短径,上陸
count,162.000000,162.000000,162.000000,162.000000,162.000000,162.000000,162.000000,162.000000,162.000000,162.000000,162.000000,162.000000,162.000000,162.000000,162.000000,162.000000,162.000000,162.0
mean,478.401235,2009.043210,8.228395,14.870370,11.395062,916.753086,4.246914,33.150617,133.933333,971.018519,61.543210,3.302469,65.401235,44.444444,3.783951,249.290123,173.858025,1.0
std,252.808657,5.866368,1.093599,8.696497,7.024675,587.163770,0.764603,4.290669,4.878066,17.450719,15.376072,3.354962,54.262356,39.231753,2.521261,89.600333,83.331775,0.0
min,54.000000,2001.000000,5.000000,1.000000,0.000000,111.000000,3.000000,24.200000,123.800000,910.000000,35.000000,0.000000,0.000000,0.000000,1.000000,20.000000,20.000000,1.0
25%,262.500000,2004.000000,7.250000,7.000000,6.000000,410.000000,4.000000,31.575000,130.125000,960.000000,50.000000,0.000000,0.000000,0.000000,2.000000,192.500000,120.000000,1.0
50%,452.500000,2007.000000,8.000000,14.000000,11.000000,709.000000,4.000000,33.550000,134.100000,975.000000,60.000000,3.000000,60.000000,40.000000,3.000000,270.000000,180.000000,1.0
75%,672.750000,2015.000000,9.000000,21.000000,18.000000,1511.750000,5.000000,34.700000,137.675000,984.750000,73.750000,4.000000,100.000000,70.000000,3.000000,300.000000,220.000000,1.0
max,1130.000000,2018.000000,10.000000,31.000000,23.000000,1824.000000,5.000000,44.500000,145.500000,1004.000000,110.000000,9.000000,210.000000,170.000000,9.000000,450.000000,450.000000,1.0

,index,年,月,日,時（UTC）,台風番号,台風名,階級,緯度,経度,中心気圧,最大風速,50KT長径方向,50KT長径,50KT短径,30KT長径方向,30KT長径,30KT短径,上陸
320,320,2001,8,21,10,111,PABUK,4,33.5,135.5,970,55,9,30,30,3,300,240,1
324,324,2001,8,21,19,111,PABUK,4,34.3,136.7,975,50,0,0,0,3,300,200,1
327,327,2001,8,22,3,111,PABUK,3,34.8,138.8,982,45,0,0,0,2,300,150,1
328,328,2001,8,22,5,111,PABUK,3,35.3,139.5,982,45,0,0,0,2,300,150,1
329,329,2001,8,22,6,111,PABUK,3,35.5,139.8,982,45,0,0,0,2,300,150,1
453,453,2001,9,11,0,115,DANAS,4,35.2,139.5,970,55,3,30,15,2,300,150,1
478,478,2001,9,6,22,116,NARI,4,26.1,127.6,985,50,0,0,0,9,90,90,1
485,485,2001,9,7,18,116,NARI,4,26.3,127.8,975,60,9,20,20,9,90,90,1
525,525,2001,9,12,18,116,NARI,4,26.4,126.8,975,60,9,35,35,6,140,100,1
1010,119,2002,6,9,17,204,NOGURI,4,24.6,125.3,975,60,3,30,20,3,100,50,1

In [3]:
# 各台風が最初に上陸した時のデータ　台風進路（ライン）のツールチップで使用
first_landing = df_landing.drop_duplicates(subset='台風番号')

first_landing.head()

,index,年,月,日,時（UTC）,台風番号,台風名,階級,緯度,経度,中心気圧,最大風速,50KT長径方向,50KT長径,50KT短径,30KT長径方向,30KT長径,30KT短径,上陸
320,320,2001,8,21,10,111,PABUK,4,33.5,135.5,970,55,9,30,30,3,300,240,1
453,453,2001,9,11,0,115,DANAS,4,35.2,139.5,970,55,3,30,15,2,300,150,1
478,478,2001,9,6,22,116,NARI,4,26.1,127.6,985,50,0,0,0,9,90,90,1
1010,119,2002,6,9,17,204,NOGURI,4,24.6,125.3,975,60,3,30,20,3,100,50,1
1049,158,2002,7,3,12,205,RAMMASUN,5,24.7,125.3,945,85,3,170,140,3,400,300,1

In [4]:
landing_list = df_landing['台風番号'].unique() # 上陸した「台風番号」を納めたリスト

list_idx=[] # 各台風のindexを納めたリスト　[[台風01のindexのリスト],[台風02のindex・・・],...,[台風80のindex・・・]]
plot_typhoon=[] # プロットデータ　緯度・経度
line_typhoon=[] # 進路のデータ　経度・緯度
list_year = []

for landing_num in landing_list:
    df_lnd = df_typhoon[df_typhoon['台風番号'] == landing_num] # 上陸した台風のデータ
    
    df_idx = df_lnd.index
    df_lon = df_lnd.loc[:,'経度']
    df_lat = df_lnd.loc[:,'緯度']
    sr_year= df_lnd.iloc[0, 1]

    plot = tuple(zip(df_lat, df_lon)) # 緯度, 経度
    line = tuple(zip(df_lon, df_lat)) # 経度, 緯度
    
    list_idx.append(df_idx)
    plot_typhoon.append(plot)
    line_typhoon.append(line)
    list_year.append(sr_year)

print(len(list_idx), len(plot_typhoon), len(line_typhoon), len(list_year))
print(" 日本に上陸した台風の数：" + str(len(list_idx)) + "個　（2001〜2018年の18年間）")

80 80 80 80
 日本に上陸した台風の数：80個　（2001〜2018年の18年間）

# 地図上に日本に上陸した台風を描く

In [5]:
import folium
import branca.colormap as cm
from IPython.display import IFrame


num_typhoon = len(list_idx) # 台風の数（2001〜2018）　18年間で、80個が上陸
color = cm.linear.Paired_11.to_step(num_typhoon).scale(0, num_typhoon-1) # 台風の数だけ描画用の色を準備

msg1 = "<h4>平成{}年　{}号<BR><center>[ {} ]</center><BR> \
        <center>{}/{:2d}/{:2d} {}時</center><BR><center>中心気圧：{}hPa</center></h4>"
msg2 = "<h4>平成{}年　{}号<BR><center>[ {} ]</center><BR><center>上陸：{}/{}/{} {}時</center></h4>"
msg3 = "<h5>H{:2d} {}号</h5>"
msg4 = '<h4><center><font color="red">★　上　陸　★</font></center><BR> \
        平成{}年　{}号<BR><center>[ {} ]</center><BR> \
        <center>{}/{:2d}/{:2d} {}時</center><BR><center>中心気圧：{}hPa</center></h4>'


'''
マップオブジェクトの生成　九州全土が表示されるように設定
'''
CENTER = [32.5, 131]
map_typhoon = folium.Map(location=CENTER, 
                         tiles='cartodbpositron', 
                         zoom_start=8, 
                         control_scale=True, 
                         prefer_canvas=True
                        )


'''
進路（ライン）上にカーソルを置くと、強調表示
'''
def highlight_function(feature):
    return {
        'fillOpacity': 0.8,
        'weight': 4,
        'fillColor': 'red',
        'color': 'red'
    }


'''
進路（ライン）の書式設定
'''
def style_function(feature):
    return {
        'fillOpacity': 0.01,
        'weight': 2,
        'fillColor': 'lightgray',
        'color': 'lightgray'
    }


'''
マーカーの半径を中心気圧によって設定
'''
def get_radius(pressure):
    p_max = 1010
    p_min =  900
    r_max = 20
    r_min =  2
    
    a = -(r_max - r_min)/(p_max - p_min)
    b = r_max - p_min * a
    
    return a * pressure + b


'''
地図上にマーカーを設置　上陸の有無で設定を変更
'''
def set_marker(idx, i, landing): 
    if landing:
        alpha = 0.8
        msg = msg4
    else:
        alpha = 0.2
        msg = msg1
    
    folium.CircleMarker(
        location=[lat, lon],
        tooltip=msg.format(
                            df_typhoon.loc[idx,'年'] - 1988, # 平成に変換
                            str(df_typhoon.loc[idx,'台風番号'])[-2:], # e.g. "1801" > "01"
                            df_typhoon.loc[idx,'台風名'],
                            df_typhoon.loc[idx,'年'], 
                            df_typhoon.loc[idx,'月'], 
                            df_typhoon.loc[idx,'日'], 
                            df_typhoon.loc[idx,'時（UTC）'], 
                            df_typhoon.loc[idx,'中心気圧'],
                           ),
        radius=get_radius(df_typhoon.loc[idx,'中心気圧']), 
        color=None,
        fill_color=color(i),
        fill_opacity=alpha
    ).add_to(feature_group)

'''
台風毎に処理　
'''
df_year = df_landing.loc[:,'年']
last_year = 0

for i, course in enumerate(plot_typhoon):
    
    if list_year[i] != last_year:
        group_name = 'Ｈ{}年　上陸数：{:2d}'.format(list_year[i] - 1988, list_year.count(list_year[i]))
        feature_group = folium.FeatureGroup(name=group_name)
    last_year = list_year[i]
    
    # マーカーでプロット
    for j, (lat, lon) in enumerate(course):
        idx = list_idx[i][j]
        # 上陸の有無で、処理を変更
        if df_typhoon.loc[idx,'上陸'] == 1:
            set_marker(idx, i, True)
        else:
            set_marker(idx, i, False)
            
    # 進路（ライン）を描く
    line = folium.GeoJson(
        data={
            'type': 'LineString',
            'coordinates': line_typhoon[i]
        },
        name=(msg3.format(
                          df_typhoon.loc[idx,'年'] - 1988,
                          str(df_typhoon.loc[idx,'台風番号'])[-2:], 
                         )), # レイヤーの名前
        overlay=True,
        style_function=style_function,
        highlight_function=highlight_function
    )
    
    # ラインのツールチップの設定　台風名＆上陸日時
    df_lnd = first_landing[first_landing['台風番号']==df_typhoon.loc[idx,'台風番号']]
    folium.Tooltip(msg2.format(
                               df_typhoon.loc[idx,'年'] - 1988,
                               str(df_typhoon.loc[idx,'台風番号'])[-2:],
                               df_typhoon.loc[idx,'台風名'],
                               df_lnd['年'].values[0],
                               df_lnd['月'].values[0],
                               df_lnd['日'].values[0],
                               df_lnd['時（UTC）'].values[0]
                              )).add_to(line)
    line.add_to(feature_group)
    feature_group.add_to(map_typhoon)

# レイヤーコントロールを設置　画面の右上にある四角いやつ
folium.LayerControl().add_to(map_typhoon)

html = 'result/5_typhoon_landing.html'
map_typhoon.save(html)
IFrame(html, width=750, height=750)